# Dependencies
node_modules

# Build output
dist
dist-ssr
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.local

# Firebase emulator logs
firebase-debug.log
firestore-debug.log
ui-debug.log
